<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <title>Error page</title>
</head>

<body>
    <main>
        <div class="container-fluid">
            <div class="row">
                <%- include('../partials/upload-form'); %>
                <%- include('../partials/list'); %>                
                <%- include('../partials/preview'); %>
            </div>
        </div>
    </main>
</body>

</html>