<div class="col-3">
    <div class="card">
        <div class="bg-light card-header">Preview</div>
        <div class="card-body">
            <img class="previewEle img-wrap" alt="Preview image"/>
        </div>
    </div>
</div>